.button {
  display: flex;
  flex-direction: row;
  background-color: #5f41fb;
  color: white;
  height: 3rem;
  width: 10rem;
  padding: 0 18px;
  border-radius: 5px;
  align-items: center;
}
.button :hover {
  cursor: pointer;
}
